@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,500;0,600;0,700;1,100&display=swap');

*{
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}


body {
    background-color: rgb(16, 15, 23);
}

div.content {
    display: flex;
    flex-direction: row;
    
}

p#text {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 1.3em;

    font-weight: 530;
}

div#hello-text {
    background-color: rgb(14, 169, 147);
    width: 130px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 30px;
    text-align: center;
}


div#content-left {
    width: 50%;
    padding-left: 200px;
    color: beige;
}

div#content-right {
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
}



img.imagem {
    border-radius: 50%;
    border: 15px solid rgb(10, 9, 15);
    outline:  15px solid black;
}

.content-image {
    width: min-content;
    height: min-content;

}

nav.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: min-content;
    padding-top: 40px;
    margin-bottom: 210px;
}
.navbar .link-nav:first-child {
    display: flex;
    margin-left: 0rem;
    height: min-content;
}

a.link-nav {
    display: flex;
    font-size: 1.5rem;
    margin-left: 3rem;
    text-decoration: none;
    color: white;
    font-weight: 500;
    position: relative;
}



div#introduction-div-text {
    margin-top: 1.5rem;

}

div#introduction-div-text > h1 {
    font-size: 3em;
}

div#introduction-div-text > h2 {
    display: flex;
    width: max-content;
    margin-top: 0.7rem;
    font-size: 1.7em;
    margin-left: 1px;
    font-weight: 550;
}


div#infos {
    margin-top: 2rem;
}

p#email {
    display: flex;
    width: max-content;
    font-weight: 400;
}

p#fone {
    display: flex;
    width: max-content;
    margin-top: 0.9rem;
    font-weight: 400;
}

p#local {
    display: flex;
    width: max-content;
    margin-top: 0.9rem;
    font-weight: 400;
}


i {
    margin-right: 15px;
}


.link-nav::before {
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    bottom: -5px;
    left: 0;
   
}


.link-nav::after {
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    bottom: -5px;
    left: 0;
    background: white;
    transform: scaleX(0);
    transition: all .3s ease-in-out;
    transform-origin: center;
}

.link-nav:hover::after{
    transform: scaleX(1);
}

div.footer{
    background-color: rgba(0, 0, 0, 0.192);
    width: 100%;
    height: 25px;
    color: rgb(68, 67, 67);
    position:absolute;
	bottom:0;
    text-align: right;
}

.text-footer {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 0.8em;
    font-weight: 400;
    padding-right: 0.6rem;
    padding-top: 2px;
}



@media screen and (max-width:910px) {
    body {
        background-color: aqua;
    }
    div#content-left {
        width: 50%;
        padding-left: 50px;
        color: beige;
    }

    div#content-right {
        display: flex;
        width: min-content;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width:720px) {
    body{
        background-color: blueviolet;
    }
    div.content {
        display: flex;
        flex-direction: column;
        
    }

    div#content-left {
        width: 50%;
        padding-left: 50px;
        color: beige;
    }

    nav.navbar {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: min-content;
        padding-top: 40px;
        margin-bottom: 150px;
    }
    div#content-right {
        display: flex;
        width: min-content;
        justify-content: center;
        align-items: center;
    }
}










